body{
    /* background-color: var(--contrast2-color); */
    font-family: var(--heading-font);
}
h2{
    color: var(--accent-color);
    font-weight: bold;
    font-size: 2.5rem;
}
#inicio{
    & img {
        filter: brightness(60%);
        transition: 0.3s;
    }
    & img:hover {
        filter: brightness(100%);
    }
}
.header{
    position: sticky; /* o fixed si quieres que siempre permanezca visible */
    top: 0;
    left: 0;
    width: 100%;       /* que ocupe todo el ancho */
    z-index: 999;     /* por encima de todo */
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #D4A24F;
}
.header h3{
    margin: 0;
    padding: 0;
    color: var(--contrast-color);
}
.header i{
    color: var(--contrast-color);
}

.header ul{
    list-style: none;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.header li {
    color: var(--contrast-color);
    margin: 0;
    padding: 0;
}
.header li:hover {
    color: var(--contrast-color);
    cursor: pointer;
}
.header a{
    color: var(--heading-color);
    font-weight: 700;
}
.header a:hover{
    color: var(--accent2-color);
}


footer{
    background-color: var(--heading-color);
    & a{
        color: var(--contrast-color);
    }
    & a:hover{
        color: white;
    }
    & p{
        color: white;
    }
}


.btn-primary{
    background-color: var(--heading-color);
    border: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus{
    background-color: var(--accent2-color);
}
.btn-primary:disabled{
    background-color: var(--accent2-color);
}
.text-primary-out{
    color: var(--accent2-color);
}
.info-descuento{
    background-color: var(--surface2-color);
}