.bg-log{
    background-color: #16395c;
}
.login-logo a{
    color: #fbd7d2;
}
.login{
    border-radius: 10px;
    background-color: #204f7e;
    color: white;
}
.sidebar-dark-primary{
    background-color: #16395c;
}
